{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Overall Results</h2>

    {% for driver in overall_list %}
    <div class="mb-4">
        <h5>Driver ID: {{ driver[0] }}</h5>
        <h5>Driver Name: {{ driver[1] }}</h5>
        <h5>Car Model: {{ driver[2] }}</h5>
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th class="align-middle">Course Name</th>
                    <th class="align-middle">Run Total</th>
                </tr>
            </thead>
            <tbody>
                {% for run in driver[3] %}
                    <tr>
                        <td class="align-middle">{{ run[0] }}</td>
                        <td class="align-middle">{{ run[1] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h5>Overall Result: {{ driver[4] }} {{ driver[5] }}</h5>
    </div>
    <hr>
    {% endfor %}

    <iframe src="{{ url_for('showgraph') }}" frameborder="0" width="100%" height="500"></iframe>

</div>
{% endblock %}
