<!DOCTYPE html>
<html>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<body>
    <div id="centeredContainer" style="display: flex; justify-content: center;">
        <div id="myHBarPlot" style="max-width:1000px;"></div>
    </div>

    <script>
        const priceList = {{ value_list | tojson | safe }};
        const fruitList = {{ name_list | tojson | safe }};

        priceList.sort((a, b) => b - a);

        const data = [{ x: priceList,  y: fruitList,  type:"bar", orientation:"h", marker: {color:"lightblue"} }];

        const layout = {
            xaxis: {title: "Overall Result"},
            yaxis: {automargin: true},
            title: "Course Time",
            margin: {
                l: 150,
                r: 50,
                b: 50,
                t: 50
            }
        };

        Plotly.newPlot("myHBarPlot", data, layout);

    </script>

</body>
</html>